.productimage{
    margin-top: -14%;
    
    
}
body{
    background-color: #e4e7e9;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3%;
    

}

img{
    border-radius: 20px;
    padding: 1%;
    padding-right: 2%;
}

.body{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.fullproduct{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 5%;
    
    background-color: #cee1ee;
    padding: 10vh;
    
    width: 60vw;
    justify-self: center;
}


button{
    background-color: #2b9eeb;
    padding: 2vh 3vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(157, 156, 155);
    font-size: 2vh;

}
button:hover{
    background-color: #9fcdeb;
}
.detail{
    margin-left: 10px;
}
.category{
    background-color: #70bded;
    padding: 10px;
    font-size: 20px;
    border: 3px solid rgb(125, 124, 124);
    border-radius: 10px;
}


li{
    margin-top: 2%;
    font-size: 3vh;
    margin-left: 5%;
    list-style-type: square;
}
select{
    width: 30%;
    padding: 10px 10px;
    font-size: 2vh;
}
.sel{
    width: 60%;
}
.range{
    background-color: #70bded;
    margin-top: 20px;
    font-size: 25px;
    border: 3px solid rgb(125, 124, 124);
    border: 3px solid rgb(125, 124, 124);
    border-radius: 10px;
    padding: 10px;
    
}
.rate{
    
    margin-top: 20px;
    font-size: 25px;
    border: 3px solid rgb(125, 124, 124);
    border: 3px solid rgb(125, 124, 124);
    border-radius: 10px;
    padding: 10px;
}
.sidebar{
    background-color: #70bded;
    padding:10px;

    padding-bottom: 20px;
    height: 100vh;
    font-size: 25px;
    
    
}
.icon{
    height: 13vh;
    width: 13vh;
   
}
.poster{
    height:60vh;
    margin-top: -17%;
}
#a1{
    border:5px solid red;
}

.main{
    width: 200px;
    height:200px;
}
.abc{
    margin-left: 15%;
}
.smallimage{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.discount{
    background-color: #008000;
    color:#ffffff;
    width: 100px;
    margin-top: -4%;
    font-size: 2vh;

}
.name{
    font-size: 4vh;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    font-size: 23px;
    margin-top: -4%;
}
.price{
    font-size: 4vh;
    margin-top: -5%;
}
.sticker{
    font-weight: 700;
    background-color: #ff0000;
    width: 40px;
    color:#ffffff;
}
.inf{
    width: 100%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
}
.icon:hover{
    transform: scale(1.5);
}
.buy{
    background-color: #259525;
    margin-left: 8%;
}
.buy:hover{
    background-color: #cee1ee;
    color:#008000;
    border:2px solid #008000;
}

.card{
    background-color: #dbe2e7;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px gray;
}
#heading{
    font-size: 25px;
    width: 50%;
    font-weight: 700;
    margin-left: 0;
    
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 5px 5px 5px #808080;
}
.pn{
    color:darkblue;
    font-size: 25px;
}
.star{
    margin-top: -8%;
    color:green;
    font-size: 15px;
}
.size{
    margin-left: 10%;
}
#siq{
    font-size: 3vh;
}
.setprice{
    writing-mode: vertical-rl;
    font-size: 20px;
}
.label, .labelsale, .labellimited{
    background-color: hsl(25, 100%, 50%);
    width: 30px;
    justify-self: end;
    padding: 4px;
    border-radius: 5px;
    margin-right: 4%;
    z-index: 2;
    position: relative;
}
.labellimited{
    background-color: hsl(2, 100%, 50%);
    width: 50px;
}
.labelsale{
    background: #7fea7f;
}


@media (max-width:1680px){
    .body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        
    }

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:4vh;
        margin-left: 10px;
        
    }

    .detail{
        margin-left: 7%;
    }
    .card{
        height: 580px;
        border-radius: 20px;
        padding-bottom: 20%;
    }
    select{
        width: 30%;
    }
  
}

@media (max-width:1200px){
    .body{
        display: flex;
        flex-direction:column;
        
    }
    button{
        font-size: 2vh;
        padding: 2vh 3vh;
        
    }

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5vh;
    }

    .sidebar{
        height: 60%;
    }
    .detail{
        margin-left: 7%;
         
    }
    .fullproduct{
        display: flex;
        flex-direction: column;
    }
    .poster{
        margin-top: 5%;
        height: 80vh;
    }
    .smallimage{
        width: 35vw;
        
    }
    .abc, .size{
        margin-left: -12%;
    }
    
    
    .list, .discount{
        margin-top: -5%;
    }
    .sel{
        width: 40%;
    }
    .card{
        padding-bottom: 10%;
    }
    .btn{
        display: flex;
        flex-direction: column;
        gap:2vh;
        width: 60%;
    }
    .buy{
        margin-left: 0;
    }

    .inf{
        display: grid;
        grid-template-columns: 1fr;
    }
    select{
        width: 30%;
    }
    .poster{
        width: 80vw;
        height: 80vh;
    }
}

@media (max-width:984px){
    .body{
        display: flex;
        flex-direction:column;
        
    }

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5vh;
    }

    .sidebar{
        height: 60%;
    }
    .detail{
        margin-left: 7%;
    }
    .fullproduct{
        display: grid;
        grid-template-columns: 1fr ;
      
    }
    .abc, .size{
        margin-left: -12%;
    }
    
    
    .list, .discount{
        margin-top: -5%;
    }
    .sel{
        width: 40%;
    }
    .card{
        padding-bottom: 10%;
    }
    .btn{
        display: flex;
        flex-direction: column;
        gap:2vh;
        width: 60%;
    }
    .buy{
        margin-left: 0;
    }

    .inf{
        display: grid;
        grid-template-columns: 1fr;
    }
    select{
        width: 30%;
    }
    .poster{
        width: 80vw;
        height: 80vh;
    }
}

@media (max-width:600px){
    .body{
        display: flex;
        flex-direction:column;
    }

    .products{
        display: grid;
        grid-template-columns: 1fr;
        gap:5vh;
        
    }
    .sidebar{
        height: 60%;
    }
    .detail{
        margin-left: 7%;
    }
    .fullproduct{
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
        align-self: center;
        width: 60vw;
        margin: 2vh;
        padding-left: 0;
        
    }
    .abc, .size{
        margin: 5%;
        
    }
    .inf{
        display: grid;
        grid-template-columns: 1fr;
    }
    .poster{
        height: 40vh;

    }
    button{
        font-size: 2vh;
        width: 60vw;
    }
   
}

